In [16]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import GridSearchCV

In [17]:
df = pd.read_csv("C:/Users/Administrator.DAI-PC2/Desktop/ML/Day 4/insurance.csv")

dum_charges = pd.get_dummies(df, drop_first = True)
dum_charges

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,False,True,False,False,True
1,18,33.770,1,1725.55230,True,False,False,True,False
2,28,33.000,3,4449.46200,True,False,False,True,False
3,33,22.705,0,21984.47061,True,False,True,False,False
4,32,28.880,0,3866.85520,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,True,False,True,False,False
1334,18,31.920,0,2205.98080,False,False,False,False,False
1335,18,36.850,0,1629.83350,False,False,False,True,False
1336,21,25.800,0,2007.94500,False,False,False,False,True
1337,61,29.070,0,29141.36030,False,True,True,False,False

In [18]:
y = dum_charges["charges"]
X = dum_charges.drop("charges", axis = 1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3,random_state=24)

In [19]:
kfold = KFold(n_splits = 5, shuffle = True, random_state = 24)

In [22]:
elastic = ElasticNet()
print(elastic.get_params())
params = {'alpha': np.linspace(0.001, 50, 5),
          'l1_ratio': np.linspace(0.001, 1, 10)}
gcv = GridSearchCV(elastic, param_grid = params, cv = kfold, scoring = 'r2')
gcv.fit(X, y)
print(gcv.best_params_)
print(gcv.best_score_)

{'alpha': 1.0, 'copy_X': True, 'fit_intercept': True, 'l1_ratio': 0.5, 'max_iter': 1000, 'positive': False, 'precompute': False, 'random_state': None, 'selection': 'cyclic', 'tol': 0.0001, 'warm_start': False}
{'alpha': 37.50025, 'l1_ratio': 1.0}
0.744530987124185