In [16]:
from scipy.cluster.hierarchy import linkage, dendrogram
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import seaborn as sns
from sklearn.cluster import AgglomerativeClustering, KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score
from sklearn.cluster import DBSCAN

In [13]:
milk = pd.read_csv(r"C:\Users\Administrator.DAI-PC2\Desktop\ML\Day10\milk.csv", index_col =0)
milk.head()

           water  protein  fat  lactose   ash
Animal
HORSE       90.1      2.6  1.0      6.9  0.35
ORANGUTAN   88.5      1.4  3.5      6.0  0.24
MONKEY      88.4      2.2  2.7      6.4  0.18
DONKEY      90.3      1.7  1.4      6.2  0.40
HIPPO       90.4      0.6  4.5      4.4  0.10

In [14]:
# Create scaler: scaler
scaler = StandardScaler().set_output(transform='pandas')
milkscaled=scaler.fit_transform(milk)

In [17]:
clust_DB = DBSCAN(eps=1, min_samples=2)
clust_DB.fit(milkscaled)
print(clust_DB.labels_)

[ 0  0  0  0  0  0  0  0  0 -1  0  0  0  0  0  0  1 -1 -1  1  2  2  2 -1
 -1]

In [19]:
clust_milk = milk.copy()
clust_milk["Clust"] = clust_DB.labels_
clust_milk.sort_values(by='Clust')

            water  protein   fat  lactose   ash  Clust
Animal
DOLPHIN      44.9     10.6  34.9      0.9  0.53     -1
RABBIT       71.3     12.3  13.1      1.9  2.30     -1
ELEPHANT     70.7      3.6  17.6      5.6  0.63     -1
SEAL         46.4      9.7  42.0      0.0  0.85     -1
CAT          81.6     10.1   6.3      4.4  0.75     -1
SHEEP        82.0      5.6   6.4      4.7  0.91      0
ZEBRA        86.2      3.0   4.8      5.3  0.70      0
PIG          82.8      7.1   5.1      3.7  1.10      0
LLAMA        86.5      3.9   3.2      5.6  0.80      0
FOX          81.6      6.6   5.9      4.9  0.93      0
HORSE        90.1      2.6   1.0      6.9  0.35      0
BUFFALO      82.1      5.9   7.9      4.7  0.78      0
BISON        86.9      4.8   1.7      5.7  0.90      0
CAMEL        87.7      3.5   3.4      4.8  0.71      0
HIPPO        90.4      0.6   4.5      4.4  0.10      0
DONKEY       90.3      1.7   1.4      6.2  0.40      0
MONKEY       88.4      2.2   2.7      6.4  0.18      0
ORANGUTAN    88.5      1.4   3.5      6.0  0.24      0
GUINEA PIG   81.9      7.4   7.2      2.7  0.85      0
MULE         90.0      2.0   1.8      5.5  0.47      0
DOG          76.3      9.3   9.5      3.0  1.20      1
RAT          72.5      9.2  12.6      3.3  1.40      1
DEER         65.9     10.4  19.7      2.6  1.40      2
REINDEER     64.8     10.7  20.3      2.5  1.40      2
WHALE        64.8     11.1  21.2      1.6  1.70      2

In [20]:
clust_milk.groupby('Clust').mean()
clust_milk.sort_values('Clust')

            water  protein   fat  lactose   ash  Clust
Animal
DOLPHIN      44.9     10.6  34.9      0.9  0.53     -1
RABBIT       71.3     12.3  13.1      1.9  2.30     -1
ELEPHANT     70.7      3.6  17.6      5.6  0.63     -1
SEAL         46.4      9.7  42.0      0.0  0.85     -1
CAT          81.6     10.1   6.3      4.4  0.75     -1
SHEEP        82.0      5.6   6.4      4.7  0.91      0
ZEBRA        86.2      3.0   4.8      5.3  0.70      0
PIG          82.8      7.1   5.1      3.7  1.10      0
LLAMA        86.5      3.9   3.2      5.6  0.80      0
FOX          81.6      6.6   5.9      4.9  0.93      0
HORSE        90.1      2.6   1.0      6.9  0.35      0
BUFFALO      82.1      5.9   7.9      4.7  0.78      0
BISON        86.9      4.8   1.7      5.7  0.90      0
CAMEL        87.7      3.5   3.4      4.8  0.71      0
HIPPO        90.4      0.6   4.5      4.4  0.10      0
DONKEY       90.3      1.7   1.4      6.2  0.40      0
MONKEY       88.4      2.2   2.7      6.4  0.18      0
ORANGUTAN    88.5      1.4   3.5      6.0  0.24      0
GUINEA PIG   81.9      7.4   7.2      2.7  0.85      0
MULE         90.0      2.0   1.8      5.5  0.47      0
DOG          76.3      9.3   9.5      3.0  1.20      1
RAT          72.5      9.2  12.6      3.3  1.40      1
DEER         65.9     10.4  19.7      2.6  1.40      2
REINDEER     64.8     10.7  20.3      2.5  1.40      2
WHALE        64.8     11.1  21.2      1.6  1.70      2

In [21]:
milkscaled['Clust'] = clust_DB.labels_
milk_scl_inliers = milkscaled[milkscaled['Clust']!=-1]
print( silhouette_score(milk_scl_inliers.iloc[:,:-1],
                 milk_scl_inliers.iloc[:,-1]) )

0.4344818095328392

In [22]:
eps_range = [0.2,0.4,0.6,1]
mp_range = [2,3,4,5]
cnt = 0
a =[]
for i in eps_range:
    for j in mp_range:
        clust_DB = DBSCAN(eps=i, min_samples=j)
        clust_DB.fit(milkscaled.iloc[:,:5])
        if len(set(clust_DB.labels_)) > 2:
            cnt = cnt + 1
            milkscaled['Clust'] = clust_DB.labels_
            milk_scl_inliers = milkscaled[milkscaled['Clust']!=-1]
            sil_sc = silhouette_score(milk_scl_inliers.iloc[:,:-1],
                             milk_scl_inliers.iloc[:,-1])
            a.append([cnt,i,j,sil_sc])
            print(i,j,sil_sc)
    
a = np.array(a)
pa = pd.DataFrame(a,columns=['Sr','eps','min_pt','sil'])
print("Best Paramters:")
pa[pa['sil'] == pa['sil'].max()]

0.4 2 0.6518937593821538
0.4 3 0.5385180352469559
0.6 2 0.5934459505692155
0.6 3 0.5344431042454363
0.6 4 0.5519747727201489
1 2 0.4344818095328392
1 3 0.6473871775367226
Best Paramters:

    Sr  eps  min_pt       sil
0  1.0  0.4     2.0  0.651894

In [23]:
### Labels with best parameters
clust_DB = DBSCAN(eps=0.4, min_samples=2)
clust_DB.fit(milkscaled.iloc[:,:5])
print(clust_DB.labels_)

[-1  0  0 -1 -1  1  1  2 -1 -1  2  1 -1 -1  1  2 -1 -1 -1 -1  3  3 -1 -1
 -1]

In [24]:
clust_milk = milk.copy()
clust_milk["Clust"] = clust_DB.labels_
clust_milk.sort_values(by='Clust')

            water  protein   fat  lactose   ash  Clust
Animal
HORSE        90.1      2.6   1.0      6.9  0.35     -1
WHALE        64.8     11.1  21.2      1.6  1.70     -1
RAT          72.5      9.2  12.6      3.3  1.40     -1
RABBIT       71.3     12.3  13.1      1.9  2.30     -1
ELEPHANT     70.7      3.6  17.6      5.6  0.63     -1
DOG          76.3      9.3   9.5      3.0  1.20     -1
PIG          82.8      7.1   5.1      3.7  1.10     -1
SEAL         46.4      9.7  42.0      0.0  0.85     -1
CAT          81.6     10.1   6.3      4.4  0.75     -1
MULE         90.0      2.0   1.8      5.5  0.47     -1
HIPPO        90.4      0.6   4.5      4.4  0.10     -1
DONKEY       90.3      1.7   1.4      6.2  0.40     -1
GUINEA PIG   81.9      7.4   7.2      2.7  0.85     -1
DOLPHIN      44.9     10.6  34.9      0.9  0.53     -1
MONKEY       88.4      2.2   2.7      6.4  0.18      0
ORANGUTAN    88.5      1.4   3.5      6.0  0.24      0
LLAMA        86.5      3.9   3.2      5.6  0.80      1
BISON        86.9      4.8   1.7      5.7  0.90      1
ZEBRA        86.2      3.0   4.8      5.3  0.70      1
CAMEL        87.7      3.5   3.4      4.8  0.71      1
FOX          81.6      6.6   5.9      4.9  0.93      2
BUFFALO      82.1      5.9   7.9      4.7  0.78      2
SHEEP        82.0      5.6   6.4      4.7  0.91      2
DEER         65.9     10.4  19.7      2.6  1.40      3
REINDEER     64.8     10.7  20.3      2.5  1.40      3

In [25]:
clust_milk.groupby('Clust').mean()
clust_milk.sort_values('Clust')

            water  protein   fat  lactose   ash  Clust
Animal
HORSE        90.1      2.6   1.0      6.9  0.35     -1
WHALE        64.8     11.1  21.2      1.6  1.70     -1
RAT          72.5      9.2  12.6      3.3  1.40     -1
RABBIT       71.3     12.3  13.1      1.9  2.30     -1
ELEPHANT     70.7      3.6  17.6      5.6  0.63     -1
DOG          76.3      9.3   9.5      3.0  1.20     -1
PIG          82.8      7.1   5.1      3.7  1.10     -1
SEAL         46.4      9.7  42.0      0.0  0.85     -1
CAT          81.6     10.1   6.3      4.4  0.75     -1
MULE         90.0      2.0   1.8      5.5  0.47     -1
HIPPO        90.4      0.6   4.5      4.4  0.10     -1
DONKEY       90.3      1.7   1.4      6.2  0.40     -1
GUINEA PIG   81.9      7.4   7.2      2.7  0.85     -1
DOLPHIN      44.9     10.6  34.9      0.9  0.53     -1
MONKEY       88.4      2.2   2.7      6.4  0.18      0
ORANGUTAN    88.5      1.4   3.5      6.0  0.24      0
LLAMA        86.5      3.9   3.2      5.6  0.80      1
BISON        86.9      4.8   1.7      5.7  0.90      1
ZEBRA        86.2      3.0   4.8      5.3  0.70      1
CAMEL        87.7      3.5   3.4      4.8  0.71      1
FOX          81.6      6.6   5.9      4.9  0.93      2
BUFFALO      82.1      5.9   7.9      4.7  0.78      2
SHEEP        82.0      5.6   6.4      4.7  0.91      2
DEER         65.9     10.4  19.7      2.6  1.40      3
REINDEER     64.8     10.7  20.3      2.5  1.40      3